/*.App {*/
/*    width: 1280px;*/
/*    margin: 0 auto;*/
/*}*/

/*.wrapper {*/
/*    margin: 50px;*/
/*    width: 250px;*/
/*}*/
/*.wrapper h3 {*/
/*    text-align: center;*/
/*}*/
body {
    background: dimgray;
}
.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.active {
    background: cornflowerblue;
}
.isDone {
    opacity: 0.5;
 }