/*.App {*/
/*    width: 1280px;*/
/*    margin: 0 auto;*/
/*}*/

/*.wrapper {*/
/*    margin: 50px;*/
/*    width: 250px;*/
/*}*/
/*.wrapper h3 {*/
/*    text-align: center;*/
/*}*/
body {
    background: #424242
}
.App {
    padding: 30px;
    display: flex;

    flex-direction: column;
    justify-content: center;

}
.todolist__wrapper{
    display: flex;
    padding: 30px;
}

.App > div > div{
    /*margin-right: 50px;*/
}

.active {
    background: cornflowerblue;
}
.isDone {
    opacity: 0.5;
 }

.todoList__title__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}
.todoList__title__wrapper button {
    height: 25px;
    margin: 10px;
}